---
const currentYear = new Date().getFullYear();
---

<footer class="relative mt-16">
  <div class="footer shadow-lg">
    <div class="relative overflow-hidden">
      <div class="absolute inset-0 bg-cyan-900/50 backdrop-blur-sm"></div>
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 relative">
        <div class="mt-8 border-t border-cyan-800/50 pt-8">
          <p class="text-cyan-200 text-center">&copy; {currentYear} David Haines. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>